#idea folder
.idea
#virtual environment
venv/
#all .mp3 files which was uploaded with database
*.mp3
#png file
*.png
#all .pyc files
*.pyc
#all .xml files
*.xml
#admin statics files
music_site/static/admin/
*/__pycache__/
local_settings.py
