body{
    background-color: f1f1f1;
    background:url(../image/background.png) no-repeat;
    font-family: Fantasy;
}
.image{
    width: 100%;
}

.profile-card{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.add{
    margin-left: 260px;
    color: #4b4fe2;
}
.profile-card-friends{
    width: 400px;
    height: 300px;
    margin-left: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.container-friends{
    position: relative;
}

.image-container{
    position: relative;
}

.info{
    color: #4b4fe2;
    margin-right: 16px;
}

.main-container{
    padding: 20px;
}

.btn {
  background-color: #89DFC4;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 230px;
}

.btn:hover {
  background-color: #89DFC4;
}