{% extends 'music/base.html' %}
{% load static %}



{% block style %}
<link rel="stylesheet" href="{% static 'music/css/player.css' %}">
{% endblock %}

{% block title %}
    Album - {{ album_id }}
{% endblock %}

{% block main %}
<div class="modal fade" id="modalComments" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Post title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="edit" method="post">
          <div class="modal-body">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <input type="hidden" name="comment-author">
              <input type="hidden" name="comment-for-album">
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <input type="text" class="form-control" name="post" id="post-field" placeholder="Enter name post">
              </div>
              <div class="shadow p-3 mb-5 bg-white rounded">
                  <input type="text" class="form-control" name="text" id="text-field" placeholder="Enter comment">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="form-edit-btn" type="button" class="btn btn-primary btn-xs save_button">Save changes</button>
          </div>
      </form>
    </div>
  </div>
</div>

<main class="container-flud" id="container-flud">
    <div class="row">
        <div class="col">
            <div id="vote">
        <div class="form">
            {% if vote_form %}
            <form method="post" action="{{ vote_form_url }}">
                {% csrf_token %}
                {{ vote_form.as_p }}
                <button class="btn btn-dark">Vote</button>
            </form>
        {% else %}
            <p>
                <a href="{% url 'users:login' %}">Log in please</a>
            </p>
        {% endif %}
            <h3> Score: {{ object.score|default_if_none:'TBD' }}</h3>
        </div>
    </div>
        </div>
        <div class="col">
            <div id="container">
                <div id="audio-img">
                    <img src="{{ album_id.image_album.url }}">
                </div>
            <div id="audio-player">
                <div id="audio-info">
                    <span class="artist"></span> - <span class="title"></span>
                </div>
                <input id="volume" type="range" min="0" max="10" value="5">
                <br>
                <div id="audio-buttons">
                    <button id="prev"></button>
                    <button id="play"></button>
                    <button id="pause"></button>
                    <button id="stop"></button>
                    <button id="next"></button>
                </div>
                <div class="clearfix"></div>
                <div id="tracker">
                    <div id="progressbar">
                        <span id="progress"></span>
                    </div>
                    <span id="duration"></span>
                </div>
                <div class="clearfix"></div>
                <ul id="playlist">
                    {% for song in songs %}
                        {% if song.album.id == album_id.id %}
                            <li path="{% static 'music/'%}uploads/{{song.name_song.url}}" song="{{song.name_song}}.mp3" artist="{{ album.author_album }}" album-image="{{ album.image_album.url }}">
                                {{ song.name_song }}
                                {% if is_favourite %}
                                    <a href="{% url 'music:favourite' pk=song.id %}">
                                        <i class="fas fa-heart"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'music:favourite' pk=song.id %}">
                                        <i class="far fa-heart"></i>
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        <div class="col">
                {% for comment in comments %}
                    {% if comment.album.id == album_id.id %}
                        <div id="comments" value="{{ comment.id }}">
                            <div class="delete-comment">
                                <button class="btn btn-primary btn-xs btn_del" value="{{ comment.id }}">Delete</button>
                            </div>
                            <div class="post">
                            </div>
                            <strong class="comment_author"></strong>
                            <p id="comment_text"></p>
                                <button type="button" class="btn btn-primary btn-xs edit_btn" data-toggle="modal" data-target="#modalComments"
                                data-id="{{ comment.id }}" data-post="{{ comment.post }}" data-text="{{ comment.text }}" data-author="{{ user }}" data-album="{{ album_id.id }}">
                                  Edit comment
                                </button>
                        </div>
                    {% endif %}
                 {% endfor %}
                <div id="comments">
                    <form id="post_form" method="post" action="/api/albums/create/">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" id="author" value="{{ user.id }}">
                        <input type="hidden" id="album" value="{{ album_id.id }}">
                        <input type="text" class="form-control" id="post" placeholder="Post"></br>
                        <input type="text" class='form-control' id="text" placeholder="Text"></br>
                        <button class="btn btn-primary btn-xs btn_create">Send</button>
                    </form>
                </div>
        </div>
    </div>
</main>
{% endblock %}

{% block jquery %}
    <script src="{% static 'music/js/player.js' %}"></script>
    <script src="{% static 'music/js/comment_get.js' %}"></script>
    <script src="{% static 'music/js/comment_create.js' %}"></script>
    <script src="{% static 'music/js/comment_edit.js' %}"></script>
    <script src="{% static 'music/js/comment_delete.js' %}"></script>
{% endblock %}