{% extends 'music/base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'music/css/player.css' %}">
{% endblock %}

{% block title %}
    Album - {{ album_id }}
{% endblock %}

{% block main %}
    <div id="bg">
        <div id="blackLayer"></div>
        <img src="{{ album_id.image_album.url }}"/>
    </div>
    <div id="container">
    <div id="audio-img">
        <img src="{{ album_id.image_album.url }}">
    </div>
    <div id="audio-player">
        <div id="audio-info">
            <span class="artist"></span> - <span class="title"></span>
        </div>
        <input id="volume" type="range" min="0" max="10" value="5">
        <br>
        <div id="audio-buttons">
            <button id="prev"></button>
            <button id="play"></button>
            <button id="pause"></button>
            <button id="stop"></button>
            <button id="next"></button>
        </div>
        <div class="clearfix"></div>
        <div id="tracker">
            <div id="progressbar">
                <span id="progress"></span>
            </div>
            <span id="duration"></span>
        </div>
        <div class="clearfix"></div>
        <ul id="playlist">
            {% for song in songs %}
                {% if song.album.id == album_id.id %}
                    <li path="{% static 'music/'%}uploads/{{song.name_song.url}}" song="{{song.name_song}}.mp3" artist="{{ album.author_album }}">
                        {{ song.name_song }}
                        {% if is_favourite %}
                            <a href="{% url 'music:favourite' pk=song.id %}">
                                <i class="fas fa-heart"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'music:favourite' pk=song.id %}">
                                <i class="far fa-heart"></i>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>
    <div id="vote">
        <div class="form">
            {% if vote_form %}
            <form method="post" action="{{ vote_form_url }}">
                {% csrf_token %}
                {{ vote_form.as_p }}
                <button class="btn btn-dark">Vote</button>
            </form>
        {% else %}
            <p>
                <a href="{% url 'users:login' %}">Log in please</a>
            </p>
        {% endif %}
            <h3> Score: {{ object.score|default_if_none:'TBD' }}</h3>
        </div>
    </div>
 {% for comment in comments %}
    <p> album</p>
    {% if comment.album.id == album_id.id %}
        <div id="comments">
            <div class="date">{{ comment.publish_date }}</div>
                <strong> {{ comment.author }}</strong>
                <p>
                    {{ comment.text|linebreaks }}
                </p>
            </div>
        </div>
    {% endif %}
 {% endfor %}


{% endblock %}
{% block jquery %}
<script src="{% static 'music/js/player.js' %}"></script>
{% endblock %}