{% extends 'music/base.html' %}
{% load cache %}

{% block title %}
    Top 10 Album
{% endblock %}

{% block main %}
{% cache 300 top10 %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Album</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
  {% for album in object_list %}
    <tr>
      <td>
          <a href="{% url 'music:SongAlbum' pk=album.id %}"> {{ album }} </a>
      </td>
      <td>{{ album.author }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endcache %}
{% endblock %}