body{
    background: url(../image/background.png) no-repeat;
}

.content-section{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.media-body{
    position: relative;
}

.info{
    color: #4b4fe2;
    margin-right: 16px;
}

.account-hedding{
    margin-left: 10px;
}

.info-profile{
    text margin-left: 10px;
    width: 400px;
    height: 500px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}