{% extends 'music/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'music/css/profile.css' %}">
{% endblock %}

{% block main %}
<div class="login-box">
    <img src="{% static 'music/image/avatar.png' %}" class="avatar">
        <h1>Login Here</h1>
            <form id="login" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input type="text" name="username" placeholder="Enter Username">
                <input type="password" name="password" placeholder="Enter Password">
                <button type="click" class="btn btn-primary btn-xs btn-login"> Login </button>
            </form>
        </div>
{% endblock %}
