{% extends 'music/base.html' %}
{% load static %}

  <!-- Required meta tags -->
  {% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet"  href="{% static 'music/css/calendar.css' %}">
  {% endblock %}

  <!-- Bootstrap CSS -->
  {% block title %}
    Calendar
  {% endblock %}


{% block main %}
<div class="modal" id="modal-all-events" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">List your tasks</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        {% for e in events %}
      <div class="modal-body">
        <p>{{ e.title }} -  {{ e.notes }}</p>
            <form method="post" action="{% url 'event-delete' id=e.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark"></button>
            </form>
      </div>
        {% endfor %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{ calendar }}
    <div class="calendar-left">

    <div class="hamburger">
      <div class="burger-line"></div>
      <!-- burger-line -->
      <div class="burger-line"></div>
      <!-- burger-line -->
      <div class="burger-line"></div>
      <!-- burger-line -->
    </div>
    <!-- hamburger -->


    <div class="num-date">{{ today }}</div>
    <!--num-date -->
    <div class="day">{{ name_day }}</div>
    <!--day -->
    <div class="current-events">Current Events
      <br/>
      <ul>
            {% for e in events|slice:":3" %}
            <li> {{ e.title }} - {{ e.notes }}</li>
          {% endfor %}
      </ul>
        <span class="posts">
            See post events <b>({{ events.count }})</b>
        </span></div>
    <!--current-events -->

    <div class="create-event">Create an Event</div>
    <!-- create-event -->
    <hr class="event-line" />
    <div class="add-event"><span class="add">+</span></div>
    <!-- add-event -->
  </div>
    <div class="calendar-base">
        <div class="triangle-left"></div>
        <div class="triangle-right"></div>
    </div>
    <!-- Button trigger modal -->
<!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
         <form method="post" id="post-form">
             <div class="modal-body">
                 {% csrf_token %}
                 {{ form.errors }}
                 <div class="shadow p-3 mb-5 bg-white rounded">
                      {{ form.title }}
                  </div>
                 <div class="shadow p-3 mb-5 bg-white rounded" id="block_start">
                      {{ form.start_event }}
                  </div>
                 <div class="shadow p-3 mb-5 bg-white rounded" id="block_end_event">
                      {{ form.end_event }}
                  </div>
                 <div class="shadow p-3 mb-5 bg-white rounded">
                      {{ form.notes }}
                 </div>
                 <div class="shadow p-3 mb-5 bg-white rounded">
                     {{ form.user }}
                 </div>
             </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Post" class="btn btn-secondary">
              </div>
         </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block jquery %}
    <script>
        //show modal if date incorrect
        {% if form_error %}
            $("#popup").modal("show");
            let field = document.getElementById("block_end_event");
            field.required = true;
        {% endif %}
    </script>
    <script src="{% static 'music/js/calendar_event_create.js' %}"></script>
{% endblock %}

